body {
    font-family: Arial,Helvetica,sans-serif;
    margin: 3.5rem 0 0 0;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4E7E68;
    color: #ffffff;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 1.25rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.header__title,
.header__icon {
    color: #ffffff;
    padding: 0.75rem;
}

.header__info {
    font-size: 0.8rem;
}

.header__icons {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.header__icon {
    cursor: pointer;
}

main {
    display: block;
}

.instructions {
    padding: 0 0.5rem;
}

.instructions--hidden {
    display: none;
}

.instructions__highlight {
    background-color: #1b4965;
    color: white;
}

.instructions__url {
    word-break: break-all;
}

.version {
    display: flex;
    justify-content: flex-end;
    padding: 0 0.5rem;
    font-size: 0.8rem;
}

.days {
    margin: 0 0.5rem;
}

.day {
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 0.5rem 0;
}

.day__date {
    padding: 0.5rem;
    background-color: #1b4965;
    border-radius: 0.25rem 0.25rem 0 0;
    color: white;
}

.day__event {
    padding: 0.5rem;
    border-bottom: 1px solid #D4D8D4;
    display: flex;
    flex-direction: row;
}

.day__event:last-child {
    border-bottom: 0;
}

.event__main {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.event__detail {
    white-space: pre;
}

.event__detail--secondary {
    color: #00000077;
}

.event__time {
    display: flex;
    flex-direction: column;
    margin-right: 0.5rem;
    font-size: 0.8rem;
}

.event__time > *:first-child {
    margin-bottom: 0.25rem;
}

.event__note {
    align-self: flex-end;
    text-align: right;
    font-size: 0.8rem;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0,0,0,.2);
}

.loading--hidden {
    display: none;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #FFF;
    border-color: #FFF transparent #FFF transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

footer {
    padding: 0 0.5rem;
    font-size: 0.7rem;
    word-break: break-all;
}
